## Project specific

## Generic
# directories
build/
.cache
bin/*
!.gitkeep

# objects
*.o
*.ko
*.obj
*.elf
*.bin

# shared objects
*.dll
*.so
*.so.*
*.dylib

# libraries
*.lib
*.a
*.la
*.lo

# executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# debug
*.dSYM/
*.su
*.idb
*.pdb
*.data

# misc
*.cmd
*.mod*
